body {
  background-color: rgb(255, 255, 255);
  font-family: poppins, sans-serif;
  letter-spacing: 0.025em;
  font-size: 1rem;
  font-weight: 400;
}

* {box-sizing:border-box}
img {vertical-align: middle;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.button{
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.bauhaus img {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.6rem;
  height: 1.5rem;
}

.bauhaus-info {
  display: inline-block;
}

.bauhaus-nom {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 0.7;
}

.bauhaus-titre {
  color: #999;
  font-size: 0.8rem;
}

.phone {
  text-transform: uppercase;
  display: none;
  font-weight: bold;
  font-size: 0.7rem;
  font-style: normal;
  color: #666;
}

.center-image-wrapper {
  max-width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#BestSale2 {

	margin-top: 25px;

}

.inside-image-wrapper > img {
  max-width: 100%;
  height: auto;
  /* padding: 0 5px; */
}


.text{
  font-weight: 600;
  font-size: 27px;
  line-height: 1.166;
  color: #000;
  letter-spacing: 0;
  margin-left: 25px;
}

#biz1{
width: 300px;
height: auto;
}

#biz2{
  width: 250px;
  height: auto;}

  .about{
    color:#a4d58e;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
  }
    .ListClients li{
      float:left;   
      margin: 100px; 
      list-style: none;
    
  }
  .ListClients a{
    text-decoration: none;
    color: #000;
 }
 #text {
   text-align: center;
   font-size: 27px;
 }
 .container-middle{
   text-align: center;
 }
.container-middle-bottom{
  text-align: center;
}

#footer {
  background-color: white;
  height: 200px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border: #666;
  border-width: 1px;
  line-height: 1.71;
  padding: 10rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.bauhaus2 > img {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.65rem;
  height: 2.356rem;
}

#footer div > ul {
  padding: 0;
  margin: 0;
}

#footer > div {
  margin-top: 4rem;
}

/* Résolution Petit Écran  */

@media (min-width: 992px) {

  .phone {
    display: inherit;
  }

  .inside {
    flex-direction: row !important;
  }
  .inside2 {
    flex-direction: row !important;
  }
  .businessmen {
    flex-direction: row !important;
  }
}
/* Résolution Écran PC  */

@media (min-width: 1200px) {
  #footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 1fr !important;
  }
  .Clients{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   }
}

@media(max-width : 1700px) {
  .ListClients {
    display: none;
  }
  .Clients-nom{
    margin-bottom: 50px;
  }
}

.container {
  background-color: grey;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 100px;
  text-align: center;
  padding-top: 50px;
}

.bauhaus2-info {
  display: inline-block;
}

.bauhaus2-nom {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 0.7;
  margin-top: 5px;
}

.bauhaus2-titre {
  color: #999;
  font-size: 0.8rem;
}
.div3 ul {
  list-style: none;
  color: #000;
}
.div3 a {
  text-decoration: none;
}

.div4 ul {
  list-style: none;
  color: #000;
  margin-top: 40px;
}

.div4 a {
  text-decoration: none;
}

/* DIV5 */
.div5 ul {
  list-style: none;
  color: #000;
  margin-top: 40px;
}

.div5 a {
  text-decoration: none;
}
.center {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.center p {
text-align: justify;
}

#AVendre2 {
  height: auto;
  max-width: 100%;
  /* margin-top: 30px; */
  /* margin-bottom: 50px; */
  /* margin-left: 0px; */
}

#metro {
  height: auto;
  max-width: 100%;
  /* margin-top: 30px; */
  /* margin-bottom: 50px; */
  /* margin-right: 0px; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
}
.inside2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  margin-top: 50px;
  
}
.businessmen {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  margin-top: 50px;
  
}
.outside {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Exterieur1 {
  padding-right: 30px;
}

#Exterieur3 {
  padding-left: 30px;
}

@media (max-width: 1200px) {
  #AVendre1 {
    max-width: 100%;
    height: auto;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inside {
    text-align: center;
  }
  .inside2{
    text-align: center;
  }
  .businessmen{
    text-align: center;
  }
  
}

